{% extends '::base.html.twig' %}

{% block formulario -%}
    <h1>misProductos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('misproductos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
